body {
	background-color:  rgb(250,250,250);
}

.myButton {
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}

#movie_cat {
    display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content: center;
}

#movid {
    width: 300px;
	height: 300px;
}

#box {
	position: relative;
	border-radius:1rem;
	width:300px;
	height:auto;
	margin:20px;
	overflow: hidden;
	background: rgb(248,248,248);
	box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
	transition: all .2s linear;
	text-align: center;
}

#box:hover {
	transform: translate3D(0, -4px, 0);
    box-shadow: 2px 8px 45px rgba(0, 0, 0, .3);
}

#title {
	text-align: center;
}

#btn {
	text-align:center;
}

#ctn {
	display: flex;
	flex-direction: row;
}

/* Dr.Keliis styles */
#box > h1 {
	position: absolute;
	top: 0%;
	margin: 0;
	padding: 0.5rem;
	width: 100%;
	text-align: center;
	font-size: 1.5rem;
	color: white;
	background: linear-gradient(45deg, rgba(255,0,151,1) 0%, rgba(66,218,152,1) 93%);
}

#forms {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	justify-content: space-evenly;
}

input {
	width: 25%;
	height: 2rem;
	border: 3px solid black;
	border-radius: 3rem;
	margin: 0 auto;
	padding: 0.5rem;
	font-size: 1.5rem;
}

button {
	width: 20%;
	height: 3rem;
	border: 2.5px solid black;
	padding: 0.2rem;
	transition: all .2s linear;
	background: transparent;
	margin: 0 auto;
	font-size: 2rem;
	border-radius: 1.5rem;
}

button:hover {
	background: black;
	color: white;
	cursor:pointer;
}

#redirects {
	display: flex;
	width: 100%;
	justify-content: center;
}

.myButton {
	margin: 1rem;
}

#editTitle {
	text-align: center;
}